#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  height: 50vh;
}

#map {
  height: 180px;
}

.card {
  width: fit-content;
  position: absolute;
  top: 110px;
}
@media (max-width: 768px) {
  .card {
    scale: 0.8;
    width: fit-content;
    position: absolute;
    top: 70px;
  }
}

ul {
  padding: 0;
}

.birdImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .birdImage {
    border-radius: 0.375rem 0 0.375rem 0;
  }
}

[role='listbox'] {
  opacity: 100;
}

[role='dialog'] {
  width: 75vw;
}
